@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --black: hsl(270, 3%, 11%);
  --d-gray: hsl(264, 5%, 20%);
  --m-gray: hsl(261, 7%, 61%);
  --white: hsl(0, 0%, 100%);
  --l-gray: hsl(210, 17%, 95%);
  --peach: hsl(11, 73%, 66%);
  --l-peach: hsl(11, 100%, 80%);
  --v-l-peach: hsl(14, 76%, 96%);
  --radius: 20px;
  --font-large: clamp(1.7rem, 1rem + 2vw, 3rem);
  --font-small: clamp(1rem, 0.5rem + 2vw, 1.2rem);
}

h2,
h1 {
  font-size: var(--font-large);
  font-weight: 500;
}

body {
  color: var(--d-gray);
  font-size: var(--font-small);
}

.btn {
  border-radius: 5px;
  padding: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
transition: all 500ms cubic-bezier(0.000, 0.000, 0.000, 1.015);
  z-index: 100;
  cursor: pointer;
}

.btn--white {
  background-color: var(--white);
  color: var(--black);
}

.btn--white:hover {
  background-color: var(--l-peach);
  color: var(--white);
}

.btn--peach {
  background-color: var(--peach);
  color: var(--white);
}

.btn--peach:hover {
  background-color: var(--l-peach);
}

body {
  font-family: "Jost", sans-serif;
}

/* GENERAL STYLES */

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
  text-align: center;
}

img {
  display: block;
}

.light-peach {
  background-color: var(--v-l-peach);
  color: var(--d-gray);
}

.light-peach h2 {
  color: var(--peach);
}

.dark-peach {
  background-color: var(--peach);
  color: var(--white);

}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* CONTAINER */

.container {
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
}

/* HERO */
.hero {
  border-radius: var(--radius);
  /* ten padding psuje mobile */
  //padding: 0 2rem;
  overflow:hidden;
}

.hero-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
}

.hero-image {
  position: relative;
  height: 20rem;
  //overflow: hidden;
  /* background-image: url(assets/home/desktop/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
}

.hero-image::after {
  content: url(assets/home/desktop/bg-pattern-hero-home.svg);
  position: absolute;
  top: -3rem;
  right: 50%;
  //height: 45rem;
  width: 20rem;
  z-index: 1;
}

.hero-image img {
  height: 40rem;
  position: absolute;
  bottom: -15rem;
  z-index: 100;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.hero-text {
  margin: 1.5rem 0;
}

.hero-header,
.hero-text {
  max-width: 30rem;
}

@media (min-width: 1000px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 0 2rem;
  }

  .hero-body {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
  }

  .hero-image {
    width: 50%;
    height: 37rem;
  }

  .hero-image::after {
  left: 2rem;
  top: 5rem;
}

  .hero-image img {
    top: 0;
    left: 0;
    -webkit-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    transform: translateX(3rem);
    height: 48rem;
  }
}

/* END OF HERO */

.cta-header,
.cta-text,
.about-card-header,
.about-card-text,
.hero-header,
.hero-text,
.contact-header,
.contact-text {
  text-align: center;
}

@media (min-width: 700px) {
  .contact-header,
  .contact-text {
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .cta-header,
  .cta-text,
  .about-card-header,
  .about-card-text,
  .hero-header,
  .hero-text {
    text-align: left;
  }
}

/* NAVIGATION */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
  /* border: 2px solid salmon; */
}

.nav-toggler {
  cursor: pointer;
}

.nav-toggler {
  height: 55px;
  width: 55px;
  /*   position: fixed;
  top: 1rem;
  left: 1rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-line {
  position: relative;
  height: 4px;
  width: 30px;
  border-radius: 5px;
  background: var(--d-gray);
  transition: all 0.5s;
}

.nav-line::before,
.nav-line::after {
  height: 4px;
  width: 30px;
  border-radius: 5px;
  background: var(--d-gray);
  content: "";
  position: absolute;
  transition: all 0.5s ease;
}

.nav-line::before {
  top: -8px;
}

.nav-line::after {
  top: 8px;
}

.nav-toggler.show .nav-line {
  background: transparent;
}

.nav-toggler.show .nav-line::before {
  transform: rotate(-135deg);
  top: 0;
}

.nav-toggler.show .nav-line::after {
  transform: rotate(135deg);
  top: 0;
}

.slidein li:first-of-type {
  animation: slidein 0.5s ease-in forwards;
}

.slidein li:last-of-type {
  animation: slidein 0.5s ease-in forwards 0.5s;
}

.slidein li:nth-of-type(2) {
  animation: slidein 0.5s ease-in forwards 0.3s;
}

.slideout li:nth-of-type(2) {
  animation: slideout 0.5s ease-in forwards;
}

.slideout li:first-of-type {
  animation: slideout 0.5s ease-in forwards;
}

.slideout li:last-of-type {
  animation: slideout 0.5s ease-in forwards;
}

@keyframes slidein {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideout {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-110%);
  }
}

/* nav.show .icon-close {
  display: block;
}

nav.show .icon-hamburger {
  display: none;
} */

.nav-list {
  display: block;
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  /* border: 2px solid salmon;
  */
  /* -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; */
}

nav.show .nav-list {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav-list-item {
  color: var(--white);
  //border: 2px solid white;
  //height: 2rem;
  text-align: left;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  //background-color:hsl(11, 73%, 46%);
  //margin: 1rem 0;
  font-size: 1.2rem;
  position: relative;
  padding: 1rem 1.5rem;
  transform: translateX(-100%);
}

.nav-logo img {
  height: 2rem;
}

.icon-close {
  display: none;
}

@media (min-width: 1000px) {
  .nav-list-item::after {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--d-gray);
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  .nav-list-item:hover.nav-list-item::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }

  .nav-toggler {
    display: none;
  }

  .nav-list {
    grid-area: menu;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 40%;
    position: static;
    background-color: var(--white);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .nav-list-item {
    color: var(--black);
    padding: 0;
    background-color: transparent;
    transform: translateX(0);
  }
}
/* END OF NAVIGATION */

/* **************************** CTA */

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  padding: 2rem 4rem;
  z-index: 1000;
  margin-bottom: -8rem;
  position: relative;
  overflow: hidden;
  /* background-image: url(assets/web-design/desktop/bg-pattern-intro-web.svg);
  background-repeat: repeat-x;
  background-position: bottom left; */
}

.cta::after {
  content: url(assets/web-design/desktop/bg-pattern-intro-web.svg);
  position: absolute;
  transform: rotateX(180deg);
  right: 2rem;
  bottom: -5rem;
  z-index: -10;
}

.cta-text {
  margin: 2rem 0;
  max-width: 46ch;
  z-index: 10;
}

@media (min-width: 1000px) {
  .cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .cta::after {
  right: 0;

}
}

/* END OF CTA */

/* **********************FOOTER */
footer {
  background-color: var(--black);
}

.footer-container {
  color: var(--white);
  max-width: 1200px;
  margin: 0 auto;
  padding: 12rem 0 4rem 0;

  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
  z-index: -100;

}

#footer-contact {
  padding: 4rem;
}


.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-logo img {
  height: 1.5rem;
}

.footer-nav-list {
  margin: 1rem 0;
}

.footer-nav-list-item {
  margin: 1rem 0;
  text-transform: uppercase;
  -ms-grid-column-align: end;
  justify-self: end;
}

.footer-nav-list-item:hover {
  color: var(--peach);
}

.footer-contact {
  margin: 1rem 0;
}

.footer-contact,
.footer-address {
  color: var(--m-gray);
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
  width: 12rem;
}

@media (min-width: 700px) {
  .footer-container {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template: 1fr auto 1fr/1fr 1fr 1fr;
    grid-template-areas:
      "logo nav nav"
      "line line line"
      "address contact social";
  }

  .footer-logo {
    grid-area: logo;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  .line {
    height: 1px;
    background: var(--d-gray);
    width: 100%;
    grid-area: line;
  }

  .footer-nav-list {
    grid-area: nav;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }

  .footer-social-list-item:hover .footer-social-list-item svg path {
    color: var(--l-peach);
  }

  .footer-address {
    grid-area: address;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  .footer-address,
  .footer-contact {
    text-align: left;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }

  .footer-contact {
    grid-area: contact;
    margin: 0;
  }

  .footer-social-list {
    grid-area: social;
    align-self: flex-end;
  }
}

@media (min-width: 1000px) {
  .footer-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template: 1fr auto 1fr/1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "logo . . nav nav"
      "line line line line line"
      "address contact . . social";
    padding: 10rem 0 2rem;
  }

  .footer-logo img {
    height: 2.2rem;
  }

  .footer-social-list {
    width: 100%;
  }
  .footer-logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .line {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
  }
  .footer-nav-list {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
  }
  .footer-address {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer-contact {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .footer-social-list {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
}

/* LOCATIONS LINKS*/

.location-links {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.location-box {
  max-width: 20rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 3rem 0;
}

.location-box-image {
  background-image: url(assets/shared/desktop/bg-pattern-small-circle.svg);
  background-repeat: no-repeat;
}

.location-box-title {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 1.5rem 0;
}

@media (min-width: 1000px) {
  .location-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

/* END OF LOCATION LINKS */

/* SKILLS */

.skills {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.skills-image {
  background-image: url(assets/shared/desktop/bg-pattern-small-circle.svg);
  background-repeat: no-repeat;
}

.skills-header {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.5rem;
  text-align: center;
}

.skills-box {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  max-width: 35rem;
}

.skills-text {
  margin: 2rem 0 3rem;
  text-align: center;
}

@media (min-width: 700px) {
  .skills {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .skills-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

  .skills-image {
    margin-right: 2.5rem;
  }

  .skills-header {
    text-align: left;
  }
  .skills-text {
    max-width: 20rem;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .skills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1200px;
  }

  .skills-box {
    display: -ms-grid;
    display: grid;
  }

  .skills-header,
  .skills-text {
    text-align: center;
  }
}

/* END OF SKILLS */

/* ABOUT */
.top {
  background-color: var(--peach);
  z-index: -10;
}

.light-peach.about-card-body {
  color: var(--d-gray);
}


.top::after {
  position: absolute;
  content: url(assets/about/mobile/bg-pattern-hero-about-mobile.svg);
  top: -5rem;
  right: 10rem;
  //height: 20rem;
  width: 100%;
  z-index: -10;
 
}

.middle, 
.bottom {
  z-index: -10;
}

.middle::after {
  position: absolute;
  content: url(assets/about/mobile/bg-pattern-hero-about-mobile.svg);
  top: 15rem;
  left:-20rem;
  //height: 20rem;
  width: 100%;
  z-index: -10;
}



.bottom::after {
  position: absolute;
  content: url(assets/about/mobile/bg-pattern-hero-about-mobile.svg);
  top: 1rem;
  left:-40rem;
  //height: 20rem;
  width: 100%;
  z-index: -10;
}

.about-card {
  border-radius: var(--radius);
  overflow: hidden;
}


.about-card-body {
  padding: 3rem;
  position: relative;
  //z-index: 10;
  color: var(--white);
}

.about-card-text {
  margin-top: 2rem;
  line-height: 1.6;
  z-index: 100;
}

.about-card img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 700px) {
  .about-card-body {
    padding: 3rem;
  }

  .top::after {
  top: -5rem;
  right: -10rem;

}
}

@media (min-width: 1100px) {
  .about-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: 20px;
    overflow: hidden;
  }



  .about-card-image {
    width: 45%;
  }

  .about .about-card-image,
  .real-deal .about-card-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }



  .top::after {
  content: url(assets/about/desktop/bg-pattern-hero-about-desktop.svg);
  top: -3rem;
  right: 0;
  }

.middle::after {
  content: url(assets/about/desktop/bg-pattern-hero-about-desktop.svg);
  top: -1rem;
  left: 15rem;
}

.bottom::after {
  content: url(assets/about/desktop/bg-pattern-hero-about-desktop.svg);
  top: -1rem;
  left: 17rem;

}

@media (min-width: 1100px) {
    .about-card-body {
    padding: 8rem;
    width: 55%;
    line-height: 1.8;
    //border: 2px solid magenta;
  }
}
}

/* END OF ABOUT */

/* *********************   LINKING CARDS */
.linking-cards {
  padding: 3rem 0;
}

.linking-card {
  height: 17rem;
  color: var(--white);
  background-size: cover;
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  background-color: var(--peach);
  margin: 2rem 0;
}

.linking-card:hover .linking-card-link {
  letter-spacing: 3px;
}

.linking-card-link {
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.linking-card-link img {
  display: inline;
  margin-left: 1rem;
}

.web {
  background-image: url(assets/home/desktop/image-web-design-large.jpg);
}

.app {
  background-image: url(assets/home/desktop/image-app-design.jpg);
}

.design {
  background-image: url(assets/home/desktop/image-graphic-design.jpg);
}

@media (min-width: 1000px) {
  .linking-cards-three {
    gap: 1.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1.5rem 1fr;
    -ms-grid-columns: 1fr 1.5rem 1fr;
    grid-template:
      "web app" 1fr
      "web design" 1fr /1fr 1fr;
  }

  .linking-cards-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
  }

  .linking-card-two {
    width: 100%;
  }

  .linking-cards-three .linking-card {
    margin: 0;
  }

  .web {
    grid-area: web;
    height: auto;
  }

  .app {
    grid-area: app;
  }

  .design {
    grid-area: design;
  }
}

@media (min-width: 1000px) {
  .web {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
  .app {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .design {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
}

/* END OF LINKING CARDS */

/* TITLE CARDS */

.title-card img {
  z-index: 1000;
}

.title-card {
  margin: 2rem auto;
  padding: 2rem;
  border-radius: var(--radius);
   background-position: center;
  background-repeat: no-repeat;
  background-image: url(assets/shared/desktop/bg-pattern-small-circle.svg);
  background-size: 75%;
  color: var(--white);
  background-color: var(--peach);
}

.title-card-header {
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}

.title-card-text {
  text-align: center;
  max-width: 40ch;
  margin: 1rem auto;
}

@media (min-width: 900px) {
  .title-card {
  background-image: url(assets/app-design/desktop/bg-pattern-intro-app.svg);
 background-size: 60%;

}
}

/* END OF TITLE CARDS */

/* PROJECT CARDS */

.project-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; */
  align-items: center;
  gap: 4rem;
  padding: 3rem 0;
}

.project-card {
  border-radius: var(--radius);
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.project-card-body {
  padding: 2rem;
  background-color: var(--v-l-peach);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  height: 10rem;
}

.project-card:hover .project-card-body {
  background-color: var(--peach);
  color: var(--white);
}

.project-card:hover .project-card-header {
  color: var(--white);
}

.project-card-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--peach);
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.project-card-text {
  text-align: center;
  line-height: 1.5;
}

.project-card img {
  max-width: 350px;
  -o-object-fit: contain;
  object-fit: contain;
}

@media (min-width: 600px) and (max-width: 1000px) {
  .project-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .project-card-body {
    display: -ms-grid;
    display: grid;
    height: auto;
    place-content: center;
  }
}

@media (min-width: 1000px) {
  .project-cards {
    max-width: 1200px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 4rem auto;
  }

  .project-card {
    width: 350px;
  }
}

/* END OF PROJECT CARDS */

/* LOCATION CARDS */

.location-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.location-card-header,
.location-card-text {
  text-align: center;
}

.location-card-body {
  padding: 2rem 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: url(assets/shared/desktop/bg-pattern-three-circles.svg);
  background-position: 10rem 5rem;

}

/* .location-card-body::after {
  position: absolute;
  content: url(assets/shared/desktop/bg-pattern-three-circles.svg);
  top: 0;
  left: 0;
} */

.address {
  margin: 1rem 0;
}

.location-card-image {
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.canada {
  background-image: url(assets/locations/tablet/image-map-canada.png);
}

.australia {
  background-image: url(assets/locations/tablet/image-map-australia.png);
}

.uk {
  background-image: url(assets/locations/tablet/image-map-uk.png);
}

@media (min-width: 700px) {
  .location-card-body {
    padding: 2rem 4rem;
    -ms-grid-rows: 1fr 2fr;
    -ms-grid-columns: 1fr 1fr 2fr;
    grid-template:
      "header header ." 1fr
      "address . contact" 2fr/1fr 1fr 2fr;
    border-radius: var(--radius);
    background-repeat: no-repeat;
    background-position: 1rem 4rem;
  }

  .location-card-image {
    border-radius: var(--radius);
  }

  .canada {
    background-image: url(assets/locations/desktop/image-map-canada.png);
  }

  .australia {
    background-image: url(assets/locations/desktop/image-map-australia.png);
  }

  .uk {
    background-image: url(assets/locations/desktop/image-map-united-kingdom.png);
  }

  .address {
    grid-area: address;
    text-align: left;
    margin: 0;
  }

  .contact {
    grid-area: contact;
    text-align: left;
  }

  .location-card-header {
    grid-area: header;
    text-align: left;
    margin-bottom: 2rem;
  }
  .location-card-body > .footer-address {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .location-card-body > .footer-contact {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
}

@media (min-width: 700px) {
  .footer-logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .line {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .footer-nav-list {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
  }
  .footer-address {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .footer-contact {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .footer-social-list {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .address {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .location-card-body > .address {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .contact {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .location-card-body > .contact {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .location-card-header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

@media (min-width: 1000px) {
  .address {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
}

@media (min-width: 1000px) {
  .location-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 1rem;
  }

  .location-card:nth-of-type(1) .location-card-body,
  .location-card:nth-of-type(3) .location-card-body {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .location-card:nth-of-type(1) .location-card-image,
  .location-card:nth-of-type(3) .location-card-image {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .location-card-body {
    width: 70%;
  }

  .location-card-image {
    width: 30%;
    height: auto;
  }
}

/* END OF LOCATION CARDS */

/* CONTACT */
.btn-contact {
  justify-self: center;
  margin-top: 2rem;
  border: none;
  font-family: inherit;
}
.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact-form {
  width: 100%;
  display: grid;
  align-content: stretch;
  padding: 2rem 0 4rem;
  //border: 2px solid red;

}

input:focus, 
textarea:focus {
  outline: none;
}


input, textarea {
  width: 100%;
  padding: 1rem 2rem;
  font-family: inherit;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: #fff;
}



::placeholder {
  color: #fff;
  font-family: inherit;
  padding: 1rem 2rem;
}

.contact-text {
  margin-top: 2rem;
  max-width: 40ch;
  line-height: 1.8;
}

.contact-body {
  padding: 3rem 0;
}

@media (min-width: 1000px) {
  .contact .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
  }

  .contact-form {
  width: 45%;
  padding: 3rem 0 5rem;

}

.contact-body {
  width: 45%;
  padding: 8rem 0 5rem;
}


}

/* END OF CONTACT */
